<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="cursor: context-menu">SyllTech</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a style="cursor: pointer" (click)="onSelectedProducts()">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a style="cursor: context-menu" (click)="onProductsPromotions()">Promotions</a></li>
          <li><a style="cursor: context-menu" (click)="onProductsDisponible()">Disponible</a></li>
         <li><a  style="cursor: context-menu" (click)="onProductsSearch()">Chercher</a></li>
        </ul>
      </li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Admin</a></li>
    </ul>
  </div>
</nav>
<p></p>
<div class="container">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="categories">
      <li [ngClass]="categoriesCourant==c?'active':''" style="cursor: context-menu" class="list-group-item" (click)="getProductsByCat(c)" *ngFor="let c of categories._embedded.categories">
        {{c.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
